/*Estilização com CSS3*/

/*Pagina inteira com 0 de margem*/
*{
  padding: 0;
  margin: 0;
}
/*Corpo da pagina inteira colorido pela cor especificada abaixo*/
body{
  background-color: #0066FF;
}
/*Cabeçalho*/
header{
  /*Cor de fundo*/
  background-color: #211F1F;
  /*Fixed e 100% pois é o jeito que encontrei para que o header nao diminuisse quando reduzisse o tamanho da tela*/
  position: fixed;
  width: 100%;
  /*fixado no pixel 0 da página*/
  top: 0px;
}

.secaoLogin{
  /*flex para deixar as divisoes da section lado a lado*/
  display: flex;
  /*wrap para quebrar a divisao quando atingir um tamanho minimo da tela*/
  flex-wrap: wrap;
  /*Limita as divisoes lateralmente*/
  max-width: 900px;
  /*Centraliza as divisões*/
  margin: 0 auto;
  /*Centraliza os textos da divisão*/
  text-align: center;
}

.secaoLogin > div{
  /*Colori a divisao separado, pois se colorisse na secaoLogin direto, a separação das divisoes tambem ficaria colorida*/
  background-color: #211F1F;
  /*Espaço entre as divisoes*/
  margin: 20px;
  /*Tamanho da altura das divisões*/
  height: 500px;
  /**/
  flex: 1 1 188px;
  border-radius: 3px;
}

.secaoLogin > div h1{
  color: #FFFFFF;
  margin-top: 35px;
}

.formulario{
  margin-top: 150px;
}

.formulario p{
  margin-top: 13px;
}

.formulario input{
  background-color: #393232;
  height: 25px;
  width: 50%;
  border-radius: 3px;
  border-color: #111010;
}

#botaoEntrar{
  background-color: #111010;
  color: #FFFFFF;
  width: 60px;
  border-radius: 7px;
  cursor: pointer;
}

#botaoEntrar:hover{
  transition: 1s;
  color: #0066FF;
}

.esqueciMinhaSenha{
  position: relative;
  font-size: xx-small;
}

a{
  text-decoration: none;
  color: #929292;
}

footer{
  background-color: #211F1F;
  position: fixed;
  width: 100%;
  bottom: 0px;
}

.moveSecao{
  margin-top: 100px;
}