<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro Perfil</title>
  <link rel="stylesheet" href="../css/cadastrarSe.css">
</head>
<body>
  <!--Cabeçalho-->
  <header>.</header>

  <!--Seçao nao tava descendo por motivos que nao sei, logo criei para deixar a seçao no meio da pagina rsrs-->
  <div class="moveSecao">
    <section class="secaoLogin">
      <div class="usuario">
        <!--Titulo da divisao-->
        <h1>Cadastro do Usuário</h1>
        <!--Formulario do Usuario-->
        <form class="formulario" method="post" action="../../Controller/cadastrarSe.php">
          <p>
            <input id="nome" name="nome" required="required" type="text" placeholder="Nome de usuário"/>
          </p>
          <p>
            <input id="cpf" name="cpf" required="required" type="text" placeholder="CPF"/>
          </p>
          <p>
            <input id="email" name="email" required="required" type="text" placeholder="Email"/>
          </p>
          <p>
            <input id="endereco" name="endereco" required="required" type="text" placeholder="Endereço completo"/>
          </p>
          <p>
            <input id="senha" name="senha" required="required" type="password" placeholder="Senha de usuário"/>
          </p>
          <p>
            Data de Nascimento
          </p>
          <p>
            <input id="dataNasc" name="dataNasc" required="required" type="date" placeholder="Data de Nascimento"/>
          </p>
          <p>
            <label class="labelTipoUsuario" for="">Você é?</label>
            <select name="tipo" id="tipo">
                <option value="e">Estudante</option>
                <option value="f">Funcionario</option>
            </select>
          </p>
          <p>
            <!--Botao de Cadastrar usuario-->
            <input id="botaoCadastrar" type="submit" value="Cadastrar-se" /> 
          </p>
        </form>
      </div>
    </section>
  </div>

  <!--Rodapé da pagina-->
  <footer>.</footer>
</body>
</html>