<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realizar Emprestimo</title>
    <link rel="stylesheet" href="../css/realizarEmprestimo.css">
</head>
<body>
    <header>.</header>

    <div class="moveSecao">
    <section class="secao">
        <div class="welcome">
        <h1>Página do Funcionário</h1>
            <div class="opcoes">
                <a href="../../Controller/C_meusDadosFuncionario.php"><div>Meus Dados</div></a>
                <a href="cadastrarLivro.html"><div>Cadastrar Livro</div></a>
                <a href="../../Controller/C_listarLivrosFuncionario.php"><div>Listar Livros</div></a>
                <a href=""><div>Realizar Empréstimo</div></a>
                <a href="realizarDevolucao.html"><div>Realizar Devolução</div></a>
                <a href="../../Controller/C_gerarRelatorioEmprestimo.php"><div>Gerar relatório de Empréstimo</div></a>
            </div>
        </div>
        <div class="opcaoEscolhida">
            <h1>Realizar Emprestimo</h1>
            <form class="formulario" method="post" action="../../Controller/C_emprestar.php">
            <p>
                <input id="idLivro" name="idLivro" required="required" type="text" placeholder="ID do livro"/>
            </p>
            <p>
                <input id="idEstudante" name="idEstudante" required="required" type="text" placeholder="ID do estudante"/>
            </p>
            <p>
                <input id="dataInicial" name="dataInicial" required="required" type="date" placeholder="Data inicial"/>
            </p>
            <p>
                <input id="dataFinal" name="dataFinal" required="required" type="date" placeholder="Data final"/>
             </p>

            <div class="botoes">
                <p>
                    <input id="emprestarLivro" type="submit" value="Emprestar Livro" /> 
                </p>
            </div>
            </form>
        </div>
    </section>
</div>


<footer>.</footer>
</body>
</html>